<mat-card>
  <mat-card-content>

      <!-- <mat-form-field class="third-width">
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search...">
      </mat-form-field> -->

      <table mat-table [dataSource]="tenantService" class="full-width">

          <ng-container matColumnDef="edit">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let tenant">
                  <span class="fill-remaining-space"></span>
                  <button mat-stroked-button color="warn" [routerLink]="[tenant.id]">Edit</button>
              </td>
          </ng-container>

          <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let tenant"> {{tenant.name}} </td>
          </ng-container>

          <ng-container matColumnDef="identifier">
              <th mat-header-cell *matHeaderCellDef> Identifier </th>
              <td mat-cell *matCellDef="let tenant"> {{tenant.identifier}} </td>
          </ng-container>

          <ng-container matColumnDef="created">
              <th mat-header-cell *matHeaderCellDef> Created </th>
              <td mat-cell *matCellDef="let tenant"> {{tenant.created}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
  </mat-card-content>
</mat-card>
