.mat-column-remove {
    padding-left: 12px;
    max-width: 6px;
}

.mat-column-role {
    min-width: 48px;
}

.mat-column-tenant {
    max-width: 200px;
}

.mat-column-application {
    max-width: 200px;
}