.tenant-card {
  max-width: 1260px;
}

.tenant-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
  gap: 3em 10em;
}

.tenant-card .mat-input-element {
  width: 220px;
  font-size: 16px;
}

.padding {
  padding: 3em;
}
