.tenant-card {

}

.tenant-grid {
  display: grid;
  grid-template-columns: auto auto;
  padding: 15px;
  gap: 3em 10em;
}

.tenant-card .mat-input-element {
  //width: 220px;
  font-size: 16px;
}

.padding {
  padding: 3em;
}

.group-edit {
  grid-column-start: span 2;
}
