<mat-card *ngIf="!role">
    <mat-card-header>
        <mat-card-title>
            Loading...
        </mat-card-title>
    </mat-card-header>
</mat-card>
<mat-card *ngIf="role">
    <form #roleForm="ngForm" name="roleForm">
        <mat-card-header>
            <mat-card-title *ngIf="role.id > 0">
                Editing {{ role.name }}
            </mat-card-title>
            <mat-card-title *ngIf="role.id < 1">
                New role
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <br>
            <div fxLayout="row wrap" layout-wrap fxLayoutGap="1%">
                <div fxFlex="49" fxFlex.lt-lg="98">
                    <mat-card class="role-container">
                        <mat-card-content class="sixteenpix">
                            <br>
                            <div class="form-group-style">
                                <mat-form-field>
                                    <input matInput placeholder="Name" [(ngModel)]="role.name" #name="ngModel"
                                        name="name" required>
                                </mat-form-field>
                                <mat-checkbox matCheckbox [(ngModel)]="role.isDeleted" #isDeleted="ngModel"
                                    name="isDeleted">Deleted</mat-checkbox>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions style="margin-left: 16px;">
            <br>
            <br>
            <button mat-stroked-button type="submit" [disabled]="!roleForm.valid || submitted"
                (click)="this.onSubmit()" color="warn" #saveButton name="saveButton"><b>Save</b></button>
            <button style="margin-left:8px;" mat-stroked-button type="submit" (click)="this.onCancel()" color="warn"><b>Cancel</b></button>
        </mat-card-actions>
    </form>
</mat-card>