<div>
    
   <mat-card >
        <button mat-stroked-button [routerLink]="[0]">
            New Client
        </button>
    </mat-card>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let client">
                <span class="fill-remaining-space"></span>
                <button mat-stroked-button color="warn" [routerLink]="[client.id]">Edit</button>
            </td>
        </ng-container>

        <!-- clientId Column -->
        <ng-container matColumnDef="clientId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client ID </th>
            <td mat-cell *matCellDef="let client"> {{client.clientId}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="clientName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Client Name </th>
            <td mat-cell *matCellDef="let client"> {{client.clientName}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
            <td mat-cell *matCellDef="let client"> {{client.description}} </td>
        </ng-container>

        <ng-container matColumnDef="enabled">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Enabled </th>
            <td mat-cell *matCellDef="let client"> {{client.enabled}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>