<mat-toolbar class="mat-elevation-z6" color="primary">
  <button mat-stroked-button [routerLink]='["/clients"]' routerLinkActive="link-active">
    Clients
  </button>
  <button mat-stroked-button [routerLink]='["/applications"]' routerLinkActive="link-active">
    Applications
  </button>
  <button mat-stroked-button [routerLink]='["/roles"]' routerLinkActive="link-active">
    Roles
  </button>
  <button mat-stroked-button [routerLink]='["/users"]' routerLinkActive="link-active">
    Users
  </button>
  <button mat-stroked-button [routerLink]='["/groups"]' routerLinkActive="link-active">
    Groups
  </button>
  <button mat-stroked-button [routerLink]='["/apiresources"]' routerLinkActive="link-active">
    API Resources
  </button>
  <button mat-stroked-button [routerLink]='["/identityresources"]' routerLinkActive="link-active">
    Identity Resources
  </button>
  <button mat-stroked-button [routerLink]='["/grants"]' routerLinkActive="link-active">
    Grants
  </button>
  <button mat-stroked-button [routerLink]='["/tenants"]' routerLinkActive="link-active" >
    Tenants
  </button>
</mat-toolbar>
