<mat-toolbar color="secondary">
    <button mat-stroked-button [routerLink]='["/clients"]' routerLinkActive="link-active" color="accent">
        Clients
    </button>
    <button mat-stroked-button [routerLink]='["/applications"]' routerLinkActive="link-active" color="accent">
        Applications
    </button>
    <button mat-stroked-button [routerLink]='["/roles"]' routerLinkActive="link-active" color="accent">
        Roles
    </button>
    <button mat-stroked-button [routerLink]='["/users"]' routerLinkActive="link-active" color="accent">
        Users
    </button>
    <button mat-stroked-button [routerLink]='["/groups"]' routerLinkActive="link-active" color="accent">
        Groups
    </button>
    <button mat-stroked-button [routerLink]='["/apiresources"]' routerLinkActive="link-active" color="accent">
        API Resources
    </button>
    <button mat-stroked-button [routerLink]='["/identityresources"]' routerLinkActive="link-active" color="accent">
        Identity Resources
    </button>
    <!-- <button mat-stroked-button [routerLink]='["/tenants"]' routerLinkActive="link-active" color="accent">
        Tenants
    </button> -->
    <button mat-stroked-button [routerLink]='["/grants"]' routerLinkActive="link-active" color="accent">
        Grants
    </button>
</mat-toolbar>
