<div class="mat-elevation-z8">
    <mat-toolbar>
        <button mat-stroked-button color="primary" [routerLink]="[0]">
            New Api Resource
        </button>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" >

        <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let apiResource">
                    <span class="fill-remaining-space"></span>
                    <button mat-stroked-button color="primary" [routerLink]="[apiResource.id]">Edit</button>
                </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let apiResource"> {{apiResource.name}} </td>
        </ng-container>

        <ng-container matColumnDef="displayName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Display Name </th>
            <td mat-cell *matCellDef="let apiResource"> {{apiResource.displayName}} </td>
        </ng-container>

        <ng-container matColumnDef="updated">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
            <td mat-cell *matCellDef="let apiResource"> {{apiResource.updated}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>